@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Fira Sans", serif;
}

.btn-hover:hover{
    background-color: black;
    color: white;
}

/* navigation style start here */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 18px;
    max-width: 1280px;

}
.title{
    font-size: 32px;
    font-weight: 700px;
    font-family: "Fira Sans";
}
nav li{
    list-style: none;
}
.btn-nav{
    box-sizing: border-box;
    border: 1px solid #006a50;
    border-radius: 8px;
    font-size: 18px;
    color: #006a50;
    font-weight: 600px;
    padding: 15px 30px 15px 30px;
    font-family: "Fira Sans";
}

/* navigation style end here */
/* hero section start here */

.hero-section{
    max-width: 1280px;
    min-height: 560px;
    margin: 0 auto;
    background-color: #c6e4d6;
    margin-bottom: 80px;
    border-radius: 24px;
}
.hero-section-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 80px 100px 80px 100px;
    
}

.hero-section-container p {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 16px;
    font-family: "Fira Sans";
  }
  .hero-section-container h1 {
    font-size: 56px;
    row-gap: 67px;
    text-align: left;
    width: 622px;
    height: 201px;
    margin-bottom: 24px;
    font-family: "Fira Sans";
  }
  .hero-section-container button {
    background-color: rgb(0, 106, 80);
    color: #fff;
    padding: 17px 34px 17px 34px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    font-family: "Fira Sans";
  }

/* hero section end here */
/* pillars section start here */
.pillars-title{
    max-width: 1280px;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 700px;
    text-align: left;
    margin-bottom: 32px;
    font-family: Fira Sans;
}

.pillars-container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
    margin-bottom: 80px;
  }
  .pillars-card {
    background-color: rgb(255, 255, 255);
    padding: 24px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
  }
  .pillars-card img {
    margin-bottom: 24px;
  }
  .pillars-card h3 {
    font-size: 20px;
    font-weight: 700px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
    font-family: "Fira Sans";
  }
  .pillars-card p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400px;
    font-family: "Fira Sans";
  }
  /* pillars section end here */
  /* vision of future start here */
  .vision-section {
    max-width: 1280px;
    margin: 0 auto;
  }
  .vision-title {
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 24px;
  }
  .vision-description {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
  }
  .vision-container {
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
  }
  .vision-card {
    width: 410.67px;
    padding: 24px;
    border-radius: 16px;
  }
  .vision-card img {
    margin-bottom: 24px;
  }
  .vision-card h3 {
    font-size: 20px;
    font-weight: 700px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
    font-family: "Fira Sans";
  }
  .vision-card p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400px;
    font-family: "Fira Sans";
    margin-bottom: 24px;
  }
  .vision-card button {
    font-size: 16px;
    font-weight: 600px;
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    border: none;
  }


  #first-card-color {
    background-color: rgba(84, 144, 245, 0.2);
  }

  #second-card-color {
    background-color: rgb(198, 228, 214);
  }
  #second-card-color :hover{
    background-color: black;
    color: white;
  }
  #third-card-color {
    background-color: rgb(247, 235, 207);
  }

  #first-btn {
    background-color: rgb(84, 144, 245);
  }
  #second-btn {
    background-color: rgb(9, 161, 92);
  }
  #third-btn {
    background-color: rgb(255, 194, 57);
  }

  .quote {
    border: 1px solid rgba(14, 14, 14, 0.15);
    height: 256px;
    margin-bottom: 80px;
    border-radius: 16px;
  }
  .quote img {
    padding: 20px 0px 0px 20px;
    position: absolute;
  }
  .quote-description {
    position: relative;
    padding: 50px 25px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 15px;
    top: 0;
  }
  .quote-description p {
    line-height: 25px;
    color: rgba(14, 14, 14, 0.8);
  }
  
  /* vision of future end here */

  /* recent news section start here*/
.recent-news {
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 80px;
  }
  .recent-news-title {
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 24px;
  }
  .recent-news-description {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
  }
  .news-card {
    display: flex;
    gap: 32px;
    padding: 48px;
    border-radius: 24px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 0.1);
    margin-bottom: 24px;
  }
  .news-card img {
    border-radius: 24px;
  }
  .news-card h3 {
    font-size: 32px;
    font-weight: 700px;
    margin-bottom: 12px;
  }
  #flex {
    display: flex;
    gap: 10px;
  }
  #flex-reverse {
    display: flex;
    flex-direction: row-reverse;
  }
  #img {
    margin-bottom: 12px;
  }
  .news-card p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 12px;
    color: rgba(14, 14, 14, 0.7);
    line-height: 30px;
  }
  .news-card button{
    font-size: 18px;
    font-weight: 600;
    padding: 13px 26px 13px 26px;
    border-radius: 8px;
    border: none;
    background-color: rgb(0, 106, 80);
    color: white ;
  }

  /* recent news section end here*/
  